<div class="container">
  <div class="card profile">
    <h1><%= username %>'s Profile Page</h1>
    <form action="/logout" method="post" class="form">
      <button type="submit" class="logout-btn">Logout</button>
    </form>
  </div>
</div>
